body {
	background: #d2d2c1 url('imagens/fundo.png');
	font: 16px Arial, Helvetica, sans-serif;
}

h1 {
	color: #979483;
	font-size: 1.6em;
}

a {
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

.container {
	width: 900px;
	font-family: Arial, sans-serif;
}

.navbar {
	background-color: #C5C5B2;
	color: #58616E;
	font-style: bold;
	text-decoration: none;
	padding: 15px;
	
}

.texto {
	padding: 10px;
	background-color: #E8E8D9;
	text-align: justify;
}

.footer {
	font-weight: bold;
	color: black;
	text-align: center;
}

.foto {
	border: 10px solid #c3c3ae;
}